<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LDAPUserManager</servlet-name>
        <servlet-class>net.xhombee.ldapmanager.LDAPUserManager</servlet-class>
        <init-param>
            <param-name>ldapurl</param-name>
            <param-value>ldap://localhost:389</param-value>
        </init-param>
        <init-param>
            <param-name>ldapuser</param-name>
            <param-value>cn=Administrator,dc=example,dc=com</param-value>
        </init-param>
        <init-param>
            <param-name>ldappasswd</param-name>
            <param-value>notmyrealpassword :)</param-value>
        </init-param>
        <init-param>
            <param-name>ldapbase</param-name>
            <param-value>dc=example,dc=com</param-value>
        </init-param>
        </servlet>
    <servlet-mapping>
        <servlet-name>LDAPUserManager</servlet-name>
        <url-pattern>/LDAPUserManager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    <security-constraint>
        <display-name>ldapAdmin</display-name>
        <web-resource-collection>
            <web-resource-name>ldapmanager</web-resource-name>
            <description>all</description>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ldapadmin</role-name>
            </auth-constraint>
            <!--
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
            -->
        </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>ldap admin realm</realm-name>
        </login-config>
    <security-role>
        <description>admin of ldap</description>
        <role-name>ldapadmin</role-name>
    </security-role>
    </web-app>
